@mixin base_grid {
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #3a3a3c;
}

.words-container {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;

  .word-row-container {
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    width: 100%;
    justify-content: space-evenly;

    .letter-container {
      @include base_grid;
      background-color: transparent;
      &-correct {
        @include base_grid;

        animation: test 0.5s ease-in forwards;
        @for $i from 0 through 30{
        &:nth-child(#{$i}){
          animation-delay: $i*0.5s;
        }
      }
        background-color: #538d4e;
      }
      &-incorrect {
        @include base_grid;
        width: 3.5rem;
        height: 3.5rem;
        border: 2px solid #3a3a3c;
        background-color: #b59f3b;
      }
    }
    * > .letter {
      display: grid;
      place-items: center;
      color: white;
      font-size: 2rem;
      padding: 0;
      margin: 0;
      height: 100%;
    }
  }
}
h1 {
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #121213;
}


// @keyframes test {
//  0%{
//    color: transparent;
//    transform: translate(1);
//  }
//  50%{
  
//     color: transparent;
//   transform: scaleX(-0);}

//  100%{  
//   color: white;
//   transform: scale(1);
// }

  
// }